#map {
    height: 600px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h5 {
    margin-top: 15px;
    font-weight: 600;
    color: #444;
}

p {
    padding-left: 10px;
    border-left: 3px solid #f0f0f0;
}